name: validate

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  validate-hassfest:
    name: Home Assistant hassfest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master

  validate-hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
