name: validate

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  hassfest:
    name: Home Assistant hassfest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate with hassfest
        uses: home-assistant/actions/hassfest@main

  hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: HACS action
        uses: hacs/action@main
        with:
          category: integration
